/.venv
/CollegeConnect/CollegeConnect/.env
/CollegeConnect/CollegeConnect/1.py
/.vscode
/template
/CollegeConnect/.env
/CollegeConnect/account/__pycache__
/CollegeConnect/account/migrations/__pycache__
/CollegeConnect/announcement/__pycache__
/CollegeConnect/announcement/migrations/__pycache__
/CollegeConnect/branch/__pycache__
/CollegeConnect/branch/migrations/__pycache__
/CollegeConnect/club/__pycache__
/CollegeConnect/club/migrations/__pycache__
/CollegeConnect/CollegeConnect/__pycache__
/CollegeConnect/home/__pycache__
/CollegeConnect/home/migrations/__pycache__
/CollegeConnect/post/__pycache__
/CollegeConnect/post/migrations/__pycache__
/CollegeConnect/resource/__pycache__
/CollegeConnect/resource/migrations/__pycache__
/CollegeConnect/media