{% extends 'base.html' %}
{% load static %}

{% block metatags %}
<title>Announcement : College Connect</title>

{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center">Announcement</h1>

    <div class="card">
        <div class="row" style="padding:10px;">
            <!-- title -->
            <h3>Samarpana Marathon Event </h3>
            <!-- date -->
            <span class="text-muted"> 12/12/2020 </span ><br><br>
            <!-- text of announcement -->
            <span class="text-light"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sit quam pariatur officia esse enim odio, molestias sint veritatis eligendi repudiandae dolor vitae laboriosam fugit autem tenetur voluptas sequi eos? Incidunt, consequatur. Voluptates nostrum ut velit iste officiis assumenda accusamus maiores iure distinctio optio provident, quae cum placeat iusto fuga.
            </span>
        </div>
    </div>
    
    <div class="card">
        <div class="row" style="padding:10px;">
            <!-- title -->
            <h3>Samarpana Marathon Event </h3>
            <!-- date -->
            <span class="text-muted"> 12/12/2020 </span ><br><br>
            <!-- text of announcement -->
            <span class="text-light"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sit quam pariatur officia esse enim odio, molestias sint veritatis eligendi repudiandae dolor vitae laboriosam fugit autem tenetur voluptas sequi eos? Incidunt, consequatur. Voluptates nostrum ut velit iste officiis assumenda accusamus maiores iure distinctio optio provident, quae cum placeat iusto fuga.
            </span>
        </div>
    </div>
    
    <div class="card">
        <div class="row" style="padding:10px;">
            <!-- title -->
            <h3>Samarpana Marathon Event </h3>
            <!-- date -->
            <span class="text-muted"> 12/12/2020 </span ><br><br>
            <!-- text of announcement -->
            <span class="text-light"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sit quam pariatur officia esse enim odio, molestias sint veritatis eligendi repudiandae dolor vitae laboriosam fugit autem tenetur voluptas sequi eos? Incidunt, consequatur. Voluptates nostrum ut velit iste officiis assumenda accusamus maiores iure distinctio optio provident, quae cum placeat iusto fuga.
            </span>
        </div>
    </div>
    
    
    
    
    
</div>

{% endblock %}