{% extends 'base.html' %}
{% load static %}

{% block metatags %}
<title>Create Announcement : College Connect</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Create Announcement</h1>
    <form method="post" enctype="multipart/form-data" class="needs-validation">
        {% csrf_token %}

        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>

        <div class="form-group">
            {{ form.featured_img.label_tag }}
            {{ form.featured_img }}
        </div>

        <div class="form-group">
            {{ form.content.label_tag }}
            {{ form.content }}
        </div>

        <div class="form-group">
            {{ form.branch.label_tag }}
            {{ form.branch }}
        </div>

        <button type="submit" style="width:90%;padding:20px;margin:20px;border-radius:20px"
            class="btn btn-success">Create Announcement</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var formGroups = document.querySelectorAll('.form-group');

        formGroups.forEach(function(formGroup) {
            var formElements = formGroup.querySelectorAll('input, textarea, select');

            formElements.forEach(function(formElement) {
                if (formElement.type !== 'checkbox') {
                    formElement.classList.add('form-control');
                }
            });
        });
    });

</script>

{% endblock %}
