{% extends 'base.html' %}
{% load static %}


{% block metatags %}
<title>College Connnect</title>

<style>

    label {
        font-size: 20px;
    }

</style>

{% endblock %}


{% block content %} 
<div class= "container text-center col-12">
    <h2>Change Password</h2>
    <form class="form-group bg-dusky text-light" method="post" style="font-size:medium;">
        {% csrf_token %}
        {{ form.as_p }}
        <a style="font-size:20px;" href="/account/profile">Back</a><br><br>
        <button type="submit" style="width:90%;padding:20px;margin:20px;border-radius:20px"
        class="btn btn-success">
            Change Password
        </button>
    </form>
	
</div>
{% endblock %}