{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">

    <h2>Change Password</h2>
    <!-- <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="/account/login">Back</a><br><br>
        <button type="submit" class="btn btn-success">Change Password</button>
    </form> -->

    <h1 class="text-center text-white">Forgot Password</h1>

    <form class="text-center bg-charcoal-black " method="post" action="#">
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" placeholder="Email id" />
        </div>

        <button type="submit" class="btn btn-success wide-btn">Send Confirmation Link
        </button>
    </form>
    <br>
    <!-- go back to login page -->
    <div class="text-center">
        <a href="/account/login">
            <button class="btn btn-danger"> Go Back </button>
        </a>
    </div>


</div>

{% endblock %}