{% extends 'base.html' %}
{% load static %}

{% block metatags %}
<title>Mentor Registration : College Connect</title>

{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center">Apply Now for Mentor!!!</h1>
    <br>
    <br>
   
    {% if mentor and mentor.approved %}
    <p class="text-center h4 text-success">Application Approved</p>
    {% elif mentor and not mentor.approved %}
    <p class="text-center h4 text-warning">Application Pending</p>
    {% else %}
    <p class="text-center h4 text-primary">Happy to see you here</p>
    {% endif %}
    <form class="text-center bg-dusky" method="post" action="/account/mentor_registration" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">

            <div class="col">

                <div class="form-group">

                </div>

                <div class="row">
                    <div class="form-group-file col col-md-5">
                        <label class="h3" for="fileupload">Upload your Resume : </label>
                        <input type="file" class="form-control-file h3" id="fileupload" name="fileupload" accept=".pdf"
                        required />
                    </div>
                </div>
                
                {% if mentor.resume %}
                <a href="{{mentor.resume.url}}" target="_blank" class="h3">View Resume</a>
                {% endif %}

                <div class="form-group">
                    <label for="domains">Domains Interested :</label>
                    <input type="text" name="domains" id="domains"
                        placeholder="domain1,domain2 (Add comma seperated domains)" value="{{mentor.list_domains}}" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="description">Write About Yourself :</label>
                    <textarea id="description" name="description"  rows="10" class="form-control"
                        maxlength="5000">{{mentor.description}}</textarea>
                </div>
                <button type="submit" style="width:90%;padding:20px;margin:20px;border-radius:20px"
                    class="btn btn-success" onclick=return true;>
                    Apply for Mentorship
                </button>
            </div>
        </div>
    </form>

</div>

{% endblock %}