{% extends 'base.html' %}
{% load static %}

{% block metatags %}
<title>Mentor Registration : College Connect</title>

{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center">Apply Now for Mentor!!!</h1>
    <br>
    <br>

    <form class="text-center bg-dusky" method="post" action="account/mentor_registration">
        {% csrf_token %}
        <div class="row">

            <div class="col">

                <div class="form-group">

                </div>

                <div class="row text-large">
                    <div class="form-group-file col col-md-5">
                        <label class="text-large" for="fileupload">Uplaod your Resume:</label>
                        <input type="file" class="form-control-file" id="fileupload" name="fileupload" accept=".pdf"
                            required />
                    </div>
                </div>

                <div class="form-group">
                    <label for="domains">Enter Domains:</label>
                    <input type="text" name="domains" id="domains"
                        placeholder="domain1,domain2 (Add comma seperated domains)" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" rows="10" class="form-control"
                        maxlength="5000"></textarea>
                </div>
                <button type="submit" style="width:90%;padding:20px;margin:20px;border-radius:20px"
                    class="btn btn-success" onclick=return true;>
                    Apply for Mentorship
                </button>
            </div>
        </div>
    </form>

</div>

{% endblock %}