{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container text-center  bg-dusky text-light col-12">
  
    <h2>Reset Password</h2>
    <h3>Enter your new password</h3>
    <form class="form" action="" class="form-group" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>
    </form>

</div>

{% endblock %}