{% extends 'base.html' %}
{% load static %}

{% block metatags %}
<title>Profile : College Connect</title>

{% endblock %}

{% block content %}

<div class="container">
    <h1> {{user.first_name}} {{user.last_name}} </h1>
    <div class="row">
        <!-- User details -->
        <div class="col-md-4" style="padding:20px;">
            {% if not student.email_confirmed %}
            <a href="/account/confirm_email">
                <button type="submit" style="width:90%;padding:20px;margin:20px;border-radius:20px"
                    class="btn btn-danger">
                    Verify Email
                </button>
            </a>
            {% endif %} 
            <a href="/account/change-password">
                <button type="submit" style="width:90%;padding:20px;margin:20px;border-radius:20px"
                    class="btn btn-danger">
                    Change Password
                </button>
            </a>
            <div class="bg-dusky mb-3 content">
                <div class="row">
                    <div class="col-md-6">
                        <span>
                            <a href="/account/edit_profile">
                                <button type="submit" style="width:90%;padding:20px;margin:20px;border-radius:20px"
                                    class="btn btn-success">
                                    Edit Profile
                                </button>
                            </a>

                        </span>
                    </div>
                    <div class="col-md-4">
                        <a href="/account/logout">
                            <button type="submit" style="width:90%;padding:20px;margin:20px;border-radius:20px"
                                class="btn btn-danger">
                                Logout
                            </button>
                        </a>
                    </div>

                </div>
                <hr>

                <div class="row">
                    <h3> Bio </h3>
                    <span>
                        <!-- bio -->
                        {{student.bio}}
                    </span>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <span>SRN</span>
                    </div>
                    <div class="col-md-8">
                        <span>{{student.student_id}}</span>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <span>Username</span>
                    </div>
                    <div class="col-md-8">
                        <span> {{user.username}}</span>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <span>Department</span>
                    </div>
                    <div class="col-md-8">
                        <span>{{student.department}}</span>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <span>Branch</span>
                    </div>
                    <div class="col-md-8">
                        <span>{{student.branch}}</span>
                    </div>
                </div>

                <hr>


                <div class="row">
                    <div class="col-md-4">
                        <span>Year of Passing</span>
                    </div>
                    <div class="col-md-8">
                        <span>{{student.year_of_passing_out}}</span>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <span>Profile Link</span>
                    </div>
                    <div class="col-md-8">
                        <a href="http://127.0.0.1:8000/account/profile/{{user.username}}">{{user.username}}</a>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-6">
                        <span>
                            <a href="/account/mentor_registration">
                                <button type="submit" style="width:90%;padding:20px;margin:20px;border-radius:20px"
                                    class="btn btn-success">
                                    Apply for Mentor
                                </button>
                            </a>
                        </span>
                    </div>

                    <div class="col-md-4">
                        {% if student.show_number %}
                        <span>
                            <a href="{{student.whatsapp_link}}">
                                <button type="submit" style="width:90%;padding:20px;margin:20px;border-radius:20px"
                                    class="btn btn-success">
                                    Chat
                                </button>
                            </a>
                        </span>
                        {% endif %}
                    </div>
                </div>

                <!-- <hr> -->


            </div>
        </div>

        <!-- User Posts -->
        <div class="col-md-8">
            <div class="row bg-dusky">
                <!-- <h3>Create Post </h3> -->
                <a href="/post/make_post">
                <button type="submit" style="width:90%;padding:20px;margin:20px;border-radius:20px"
                    class="btn btn-success">Create Post</button>
                </a>

                <!--form comes here (rich text editor) -->

            </div>
            <div class="row bg-dusky">
                <h1>My Posts </h1>
                <div class="card">
                    <div class="bg-dusky">
                        <h3 class="text-muted">No posts available</h3>
                    </div>
                </div>
            </div>
            <div class="row bg-dusky">
                <h1>My Resources </h1>
                <div class="card">
                    <div class="bg-dusky">
                        <h3 class="text-muted">No resources posted</h3>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



{% endblock %}