{% extends 'base.html' %}
{% load static %}

{% block metatags %}
<title>Sign Up : College Connect</title>

{% endblock %}

{% block content %}

<div class="container">

    <h1 class="text-center text-white">Registration Form</h1>
    <br>
    <br>

    <form class="text-center bg-charcoal-black " method="post" action="#">
        <div class="row">

            <!-- Personal Details -->
            <div class="col">

                <div class="form-group">
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name"
                        required pattern="^[A-Za-z]+$" title="Only letters are allowed" />

                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name"
                        required pattern="^[A-Za-z]+$" title="Only letters are allowed" />

                </div>

                <div class="row">

                    <div class="form-group col col-md-4">
                        <input type="text" class="form-control" id="countrycode" name="countrycode"
                            placeholder="Country Code" required />
                    </div>

                    <div class="col">
                        <div class="form">
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number"
                                required pattern="^\[1-9][0-9]{9}$"
                                title="Please enter a valid Indian mobile number with +91 country code" />
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email id" required />
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                        required />
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Password"
                        required />
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="password2" name="password2"
                        placeholder="Confirm Password" required />
                </div>

            </div>

            <!-- College Details -->
            <div class="col">

                <div class="form-group">
                    <input type="email" class="form-control" id="collegeemail" name="collegeemail"
                        placeholder="College Email id" required />
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="SRN" name="SRN" placeholder="SRN(Student id)"
                        required />
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="yearofpassingout" name="yearofpassingout"
                        placeholder="Year Of Passing Out" required />
                </div>

                <div class="form-group">
                    <select class="form-control" id="branch" name="branch">
                        <option class="form-control" disabled selected value="">Branch ▼</option>
                        <option class="form-control" value="student">CSE</option>
                        <option class="form-control" value="mentor">ECE</option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control" id="department" name="department">
                        <option class="form-control" disabled selected value="">Department ▼</option>
                        <option class="form-control" value="student">BTech</option>
                        <option class="form-control" value="mentor">BCA</option>
                    </select>
                </div>

                <button type="submit" style="width:90%;padding:20px;margin:20px;border-radius:20px"
                    class="btn btn-success" onclick=return true;>
                    Sign Up
                </button>

                <p style="padding:5px;font-size:large;" class="text-center">Already have an account? <a href="/account/login">Log In</a>
                    Now</p>
            </div>
        </div>
    </form>

</div>



{% endblock %}