{% extends 'base.html' %}
{% load static %}

{% block metatags %}
<title>About Us : College Connect</title>
{% endblock %}

{% block content %}

<div class="container">
    <h1 >About Us</h1>
    <p class="text-justify">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Id esse in cum distinctio soluta cumque sequi veniam adipisci labore maiores 
        incidunt perspiciatis excepturi accusantium architecto iure non consectetur itaque, 
        eius earum, totam libero ut pariatur? Reiciendis est libero nesciunt consectetur labore. 
        Aut eius distinctio est? Id numquam aperiam eum? Delectus excepturi ex atque ad numquam 
        molestias. Modi, repudiandae explicabo officiis molestiae tenetur numquam expedita quaerat 
        iusto non fugit ipsam minus ullam deleniti iste, fugiat, sunt aut? Sunt doloribus itaque, 
        praesentium voluptatibus maiores molestiae, ullam voluptate magni ipsam architecto nesciunt nam? 
        Ipsum molestiae vitae quia consectetur unde magnam necessitatibus fugiat ullam illo numquam quae rem 
        deserunt placeat, et veritatis esse at corrupti. Incidunt est odio maiores ab sed perspiciatis 
        laborum assumenda sequi, vero, ex harum quidem eligendi fugiat. Incidunt, quod. Id nesciunt 
        eveniet natus nihil sunt ipsam sint placeat. Magni voluptatum cupiditate doloribus sequi corporis, 
        dolor est culpa veritatis ipsam, ducimus, ex ullam! In suscipit quasi officiis sint. Velit laborum 
        incidunt libero culpa porro fugiat dicta! Ullam consectetur reprehenderit quo, consequuntur eius 
        sequi hic, ipsum aspernatur error provident animi eum nam facilis voluptatem? Delectus, ipsum! 
        Perferendis dolorem reprehenderit alias ratione quibusdam vel inventore, ab obcaecati repudiandae? 
        Quas ipsam nostrum omnis magnam quod? Doloribus, illum officia? Nostrum eum vero sunt maxime. 
    </p>

</div>

{% endblock %}