{% extends 'base.html' %}
{% load static %}

{% block metatags %}
<title>College Conenct</title>
{% endblock %}

{% block content %}

<div class="container">
    <div class="col">
        <h1>Homepage</h1>
        <p class="text-justify">
            Welcome to College Connect - Your Academic Hub
            <br>
            <br>

            Are you looking for a one-stop solution to enhance your college experience, connect with peers, and excel in your academic journey? Look no further! College Connect is here to revolutionize the way you navigate your college life.

            <br>
            <br>
            Discover, Learn, and Connect

            <br>
            <br>
            College Connect is more than just a website; it's your virtual college companion. Whether you're a student, professor, or staff member, we offer a range of features and tools to help you succeed:

            <br>
            Personalized Feed: Stay updated with the latest news, events, and announcements relevant to your college and courses.

            <br>
            Academic Resources: Access a treasure trove of study materials, past papers, and reference books shared by fellow students.

            <br>
            Connect with Peers: Join discussion forums, study groups, and connect with students who share your interests and goals.

            <br>
            Interactive Learning: Dive into interactive learning modules, video lectures, and quizzes to master your subjects.

            <br>
            Resource Sharing: Share your knowledge by uploading and sharing valuable resources, helping others while earning recognition.

            <br>
            Faculty Interaction: Connect with your professors and seek guidance, schedule office hours, and collaborate on research projects.

            <br>
            Stay Organized: Manage your academic schedule, set reminders, and track important deadlines with our built-in academic planner.

            <br>
            <br>
            Join the College Connect Community

            <br>
            Become a part of our vibrant community where students, professors, and staff come together to foster a culture of learning and collaboration. With College Connect, you're not just part of a college; you're part of a movement towards academic excellence.

            <br>
            <br>
            Ready to Get Started?

            <br>
            <br>
            Signing up is quick and easy. Let's embark on this academic journey together! Join College Connect today and experience the future of education.

            <br>
            Feel free to customize this text to better suit the specific features and goals of your College Connect project.
                        
        </p>
    </div>
</div>





{% endblock %}